@model List<MVCApplicationToDo.Models.MilestoneItem>

@{
    ViewData["Title"] = "Create";
}

<h1>Create Multiple Milestone Items</h1>

@if (ViewBag.SelectedProjectId != null && ViewBag.SelectedProjectTitle != null)
{
    <div class="container">
        <p>Projeto Selecionado: @ViewBag.SelectedProjectTitle</p>
    </div>
}

<form asp-action="CreateMultiple" method="post">
    <input type="hidden" name="projectId" value="@ViewBag.SelectedProjectId" />
    <table class="table">
        <thead>
            <tr>
                <th style="width: 10%;">Code</th>
                <th style="width: 60%;">Title</th>
            </tr>
        </thead>
        <tbody id="milestoneItemsTable">
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" name="[@i].Id" value="@Model[i].Id" />
                        <input name="[@i].Code" class="form-control" value="@Model[i].Code" />
                    </td>
                    <td>
                        <input name="[@i].Title" class="form-control" value="@Model[i].Title" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" id="addRowButton">Add Milestone Item</button>
    <button type="submit" class="btn btn-success">Save</button>
</form>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        let rowIndex = @Model.Count;

        function addRow() {
            const row = `
                <tr>
                    <td>
                        <input type="hidden" name="[${rowIndex}].Id" value="0" />
                        <input name="[${rowIndex}].Code" class="form-control" />
                    </td>
                    <td><input name="[${rowIndex}].Title" class="form-control" /></td>
                </tr>
            `;
            $('#milestoneItemsTable').append(row);
            rowIndex++;
        }

        $(document).ready(function() {
            $('#addRowButton').click(function() {
                addRow();
            });
        });
    </script>
    }


