@model List<MVCApplicationToDo.Models.MilestoneItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Milestones Index</h1>
<br />
<form asp-action="Index" method="get">
    <div class="form-group" style="width: 30%;">
        <label for="projectSelect">Project</label>
        <select id="projectSelect" name="projectId" class="form-control" asp-items="ViewBag.ProjectId" onchange="this.form.submit()">
            <option value="">Select a project</option>
        </select>
    </div>
</form>
<br />

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="CreateMultiple">Create Multiples</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Title
            </th>
            <th>
                Project
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
