@model IEnumerable<MVCApplicationToDo.Models.TaskItem>

@{
    ViewData["Title"] = "Lista de Tarefas";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<P></P>
<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Tarefa</a>
</p>
